<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My About page</title>
    <link rel="stylesheet" href="about.page.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400, 600" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="works.page.html">Work</a></li>
                <li>contact</li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="about-me">
            <h2>My name is Kekvin Salter. Nice to meet you!</h2>
            <article>
                <p>I'm an aspiring full stack software developer! I am self taught and currently if you're reading this then I'm still teaching myself.
                   I am fluent in HTML and CSS for now, but I have worked with javascript, react.js, and a little of python. I have just recently decided
                   to stick with and fine tune my knowledge of HTML and CSS and will contiune to learn complete front end back end frameworks! I am motivated,
                   and persistent about my start on this career path. While I have not worked in a professional enviroment I am able to provide professional content.
                   Learn more about this in my <a href="works.page.html">works</a> page all my projects are there!
                </p>
            </article>
        </section>
    </main>
    
</body>
</html>